article,
aside,
body,
caption,
div,
figure,
footer,
h1,
h2,
h3,
header,
hgroup,
html,
nav,
p,
pre,
section,
table,
tbody,
td,
tfoot,
th,
thead,
tr {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
