.main-block {
  width: 800px;

  .keyboard-display {
    height: 200px;
    width: 740px;
    resize: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  }
}

.message {
  padding: 1rem;
  position: fixed;
  color: #fff;
  text-align: justify;
  width: 250px;
  bottom: 100px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.message:hover {
  display: none;
}